@using Booking_app.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model BookingApp.Models.RezervationVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RezervationDate" />
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("User")) { 
                    <input type="hidden" asp-for="UserId" />
                }
            }
           
            <div class="form-group">
                <label asp-for="DayIn" class="control-label"></label>
                <input asp-for="DayIn" class="form-control" />
                <span asp-validation-for="DayIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOut" class="control-label"></label>
                <input asp-for="DayOut" class="form-control" />
                <span asp-validation-for="DayOut" class="text-danger"></span>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("Administrator")) { 
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                }
            }
            <div class="form-group">
                <label asp-for="RoomID" class="control-label"></label>
                <input asp-for="RoomID" class="form-control" />
                <span asp-validation-for="RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary col-md-12" style="margin: 5% 0 5% 0" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Administrator")) { 
                <a asp-action="Index" class="btn btn-primary btn-sm" style="margin: 2% 0 0% 0">Back to List</a>
            }
            if (User.IsInRole("User"))
            {
               <a asp-action="UserIndex" class="btn btn-primary btn-sm" style="margin: 2% 0 0% 0">Back to List</a> 
            }
        }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
